.navigation {
  grid-area: n;
  background-color: blue;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.link {
  color: gold;
  text-decoration: none;
}

.nav {
  margin-bottom: 50px;
}

h3 {
  text-align: center;
}



